- name: remove timer {{madek_zhdk_zapi_sync_name}}.timer
  file:
    path: '{{item}}' 
    state: absent
  with_items:
    - /etc/systemd/system/{{madek_zhdk_zapi_sync_name}}.timer
  
- name: remove service  {{madek_zhdk_zapi_sync_name}}.service
  file:
    path: '{{item}}'
    state: absent
  with_items:
    - /etc/systemd/system/{{madek_zhdk_zapi_sync_name}}.service

- name: remove config file
  file:
    path: /etc/madek/madek_zhdk_zapi_sync.conf
    state: absent

- command: systemctl daemon-reload
  changed_when: false
  name: reload systemctl

- name: remove deploy target dir {{madek_zhdk_zapi_sync_root_dir}}
  file:
    path: '{{item}}'
    state: absent
  with_items:
    - '{{madek_zhdk_zapi_sync_root_dir}}'

- name: remove user {{madek_zhdk_zapi_sync_user}}
  user:
    name: '{{item}}'
    state: absent
    force: yes
  with_items:
    - '{{madek_zhdk_zapi_sync_user}}'

- name: remove group {{madek_zhdk_zapi_sync_group}}
  group:
    name: madek-zhdk-sync
    state: absent
  with_items:
    - '{{madek_zhdk_zapi_sync_group}}'

